* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/header_memory.JPG);
    background-size: cover;
    height: 380px;
    justify-content: center;
}

h1 {
    margin-left: 35px;
    padding-top: 20px;
    color: rgb(241, 64, 64);
    font-size: 40px;
    font-weight: bold;
}

.body {
    display: flex;
    gap: 50px;
    padding-bottom: 10px;
}

.memory_image {
    padding-top: 20px;
    margin-left: 35px;
}

.contenu {
    padding-top: 18px;
}

.about {
    color: #00d1c7;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.details {
    background-color: rgb(222, 221, 221);
    padding: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.titre {
    color: black;
}

span {
    color: grey;
}

.bouton {
    display: inline-block;
    padding: 8px 16px;
    background: #00d1c7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}

.bouton:hover {
    transform: scale(1.1);
}

footer {
    background-color: white;
    margin-bottom: 20px;
    font-size: 12px;
}

.name {
    color: #00d1c7;
}

.fin {
    display: flex;
    margin-left: 50px;
    list-style: none;
    justify-content: space-between;
    margin-top: 30px;
}

.end {
    margin-right: 90px;
}