* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    line-height: 6;
}

.barreheader {
    align-items: center;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.identity {
    margin-left: 37px;
}

.nom {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.prenom {
    color: #00d1c7;
    font-size: 20px;
    font-weight: bold;
}

.navigation {
    display: flex;
    color: white;
    margin-right: 90px;
    list-style: none;
    font-size: small;
}

.navigation li {
    margin-left: 45px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #00d1c7;
    font-weight: bold;
}

.accueil_class {
    display: flex;
    height: 490px;
    align-items: center;
}

.section1 {
    width: 70%;
    padding-left: O;
    text-align: center;
}

.section1 p {
    font-size: 35px;
}

.name_accueil {
    color: #00d1c7;
}

.bouton {
    display: inline-block;
    padding: 15px 38px;
    background: #00d1c7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}

.image-acc {
    width: min-content;
    height: auto;
    margin-top: 0;
    margin-right: 50px;
}

.about_class {
    height: 540px;
    background-color: #f5f7fa;
    border-color: #f5f5f54d;
}

h2 {
    color: #00d1c7;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 90px;
    margin-top: 30px;
    padding-top: 70px;
    text-align: center;
}

.section2 {
    display: flex;
    justify-content: space-between;
    gap: 300px;
    align-items: center;
    flex: 1;
}

.para {
    margin-left: 50px;
    line-height: 40px;
    font-size: 18px;
}

p {
    line-height: 1.5;
}

.para p {
    margin-bottom: 15px;
    max-width: 180%;
}

.about_name {
    color: #00d1c7;
    font-weight: bold;
}

.bouton2 {
    display: inline-block;
    padding: 5px 15px;
    background: #00d1c7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
}

.image-about {
    flex-shrink: 0;
}

.pdp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #00d1c7;
    margin-right: 150px;
}

.projet_class {
    height: 550px;
    background-color: white;
}

h3 {
    color: #00d1c7;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 65px;
    padding-top: 65px;
    text-align: center;
}

.section3 {
    display: flex;
    justify-content: space-around;
}

.minibloc {
    background-color: #f5f7fa;
    padding: 45px 80px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(185, 185, 187);
    text-align: center;
}

.code {
    margin-top: 30px;
    text-align: center;
}

.bouton3 {
    display: inline-block;
    padding: 5px 35px;
    background: #00d1c7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

.comp-class {
    background-color: #f5f7fa;
    height: 520px;
}

h4 {
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 65px;
    padding-top: 60px;
    text-align: center;
}

.section4 {
    display: flex;
    justify-content: space-around;
}

.digibloc {
    background-color: #f5f7fa;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(185, 185, 187);
    width: 550px;
}

.digititre {
    font-weight: bold;
    text-align: center;
}

.compliste1 {
    padding-top: 20px;
}

.jauge {
    background: grey;
    border-radius: 20px;
    height: 8px;
}

.jauge span {
    background: #00d1c7;
    height: 100%;
    display: block;
    border-radius: 20px;
}

.barre1 {
    width: 70%;
}

.barre2 {
    width: 80%;
}

.barre3 {
    width: 90%;
}

.barre4 {
    width: 85%;
}

.barre5 {
    width: 80%;
}

.barre6 {
    width: 30%;
}

.barre7 {
    width: 90%;
}

.contact_class {
    background-color: black;
    height: 480px;
}

.contact_title {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

.tete {
    color: #00d1c7;
    font-weight: bold;
}

.hesit {
    color: white;
    font-size: 28px;
    padding-bottom: 12px;
    text-align: center;
}

.contacter {
    color: #00d1c7;
    font-weight: bold;
}

.ligne1 {
    font-size: 12px;
    display: flex;
    color: white;
    justify-content: center;
    gap: 145px;
}

.ligne2 {
    justify-content: space-between;
    text-align: center;
}

#prenom_form,
#nom_form {
    width: 200px;
    border-radius: 8px;
    padding-left: 8px;
    height: 25px;
}

.bloc-sujet {
    display: inline-block;
    text-align: left;
}

.sujet {
    font-size: 12px;
    color: white;
    padding-top: 10px;
}

.ligne3 {
    text-align: center;
}

.bloc-sujet .bouton4 {
    display: block;
    width: fit-content;
    margin: 0px auto 0;
}

#subject {
    width: 425px;
    border-radius: 8px;
    padding-left: 8px;
    height: 25px;
}

#message {
    width: 415px;
    border-radius: 8px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 10px;
    height: 160px;
    margin-bottom: 15px;
    resize: none;
}

.bouton4 {
    padding: 10px 35px;
    background: #00d1c7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.bouton:hover,
.bouton1:hover,
.bouton2:hover,
.bouton3:hover,
.bouton4:hover {
    transform: scale(1.1);
}

footer {
    background-color: white;
    margin-bottom: 20px;
    font-size: 12px;
}

.name {
    color: #00d1c7;
}

.fin {
    display: flex;
    margin-left: 50px;
    list-style: none;
    justify-content: space-between;
    margin-top: 30px;
}

.end {
    margin-right: 90px;
}